:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Epilogue", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--Almost-White);
    position: relative;

    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 100px;
        padding: 20px 50px;
        @media (max-width: 560px) {
            padding: 20px;
        }

        .logo-wrapper {
            width: fit-content;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hamburger-menu {
            width: 100%;
            height: 100%;
            display: none;
            justify-content: flex-end;
            align-items: center;
            @media (max-width: 960px) {
                display: flex;
            }
        }

        nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
            @media (max-width: 960px) {
                width: 60%;
                height: 100vh;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--Almost-White);
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 20px;
                gap: 50px;
            }

            .close-menu {
                width: 100%;
                display: none;
                justify-content: flex-end;
                align-items: flex-end;
                @media (max-width: 960px) {
                    display: flex;
                }
            }

            .navbar {
                width: 100%;
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 50px;
                    @media (max-width: 960px) {
                        flex-direction: column;
                        gap: 20px;
                    }

                    li {
                        display: flex;
                        gap: 10px;
                        cursor: pointer;
                        position: relative;
                        @media (max-width: 960px) {
                            width: 100%;
                            flex-direction: column;
                        }

                        span {
                            color: var(--Medium-Gray);
                            font-size: 14px;
                            font-weight: bold;

                            &:hover,
                            &.active {
                                color: var(--Almost-Black);
                                font-weight: bold;
                            }
                        }

                        .menu-feature {
                            &:hover~.features-dropdown {
                                display: flex;

                            }
                        }

                        .menu-company {
                            &:hover~.company-dropdown {
                                display: flex;
                            }
                        }

                        .features-dropdown {
                            padding: 20px;
                            border-radius: 10px;
                            width: 150px;
                            background-color: #fff;
                            -webkit-box-shadow: -15px 15px 300px -18px rgba(0, 0, 0, 1);
                            -moz-box-shadow: -15px 15px 300px -18px rgba(0, 0, 0, 1);
                            box-shadow: -15px 15px 300px -18px rgba(0, 0, 0, 1);
                            position: absolute;
                            top: 20px;
                            right: 0;
                            display: none;
                            flex-direction: column;
                            gap: 10px;
                            @media (max-width: 960px) {
                                position: static;
                                display: none;
                                width: 100%;
                                background-color: var(--Almost-White);
                                box-shadow: none;
                                
                            }
                        }

                        .company-dropdown {
                            padding: 20px;
                            border-radius: 10px;
                            width: 120px;
                            background-color: #fff;
                            -webkit-box-shadow: -15px 15px 300px -18px rgba(0, 0, 0, 1);
                            -moz-box-shadow: -15px 15px 300px -18px rgba(0, 0, 0, 1);
                            box-shadow: -15px 15px 300px -18px rgba(0, 0, 0, 1);
                            position: absolute;
                            top: 20px;
                            left: 0;
                            display: none;
                            flex-direction: column;
                            gap: 10px;
                            @media (max-width: 960px) {
                                position: static;
                                display: none;
                                width: 100%;
                                background-color: var(--Almost-White);
                                box-shadow: none;
                                
                            }
                        }
                    }
                }
            }

            .user-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 960px) {
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;
                    
                }

                button {
                    cursor: pointer;
                    width: 80px;
                    height: 30px;
                    font-weight: bold;
                    font-size: 14px;
                    border: none;
                    background-color: var(--Almost-White);
                    color: var(--Medium-Gray);

                    &:hover {
                        color: var(--Almost-Black);
                    }

                    &:last-child {
                        border: 1px solid var(--Medium-Gray);
                        border-radius: 10px;
                        @media (max-width: 960px) {
                            width: 100%;
                            
                        }

                        &:hover {
                            border: 1px solid var(--Almost-Black);

                        }
                    }
                }
            }

        }
    }

    main {
        width: 100%;
        height: fit-content ;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1260px) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;
        }

        section {
            width: 50%;
            height: 640px;
            @media (max-width: 1260px) {
                width: 100%;
                height: 50%;
            }

            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 80px;
                padding-top: 100px;
                @media (max-width: 1260px) {
                    justify-content: center;
                    align-items: center;
                }
                @media (max-width: 560px) {
                    padding: 20px;
                    padding-top: 100px;
                }

                .content-title {
                    width: 50%;
                    @media (max-width: 560px) {
                        width: 100%;
                    }

                    h1 {
                        font-size: 72px;
                    }
                }

                .content-text {
                    width: 50%;
                    @media (max-width: 560px) {
                        width: 100%;
                    }

                    p {
                       font-size: 18px; 
                    }
                }

                .content-learn-more {
                    width: 50%;
                    @media (max-width: 560px) {
                        width: 100%;
                    }

                    button {
                        width: 120px;
                        height: 40px;
                        border-radius: 10px;
                        background-color: var(--Almost-Black);
                        color: var(--Almost-White);
                        border: none;
                        outline: none;
                        cursor: pointer;

                        &:hover {
                            color: var(--Almost-Black);
                            background-color: var(--Almost-White);
                            border: 1px solid var(--Almost-Black);
                        }
                    }
                }

                .content-footer {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width: 560px) {
                        width: 100%;
                    }

                    img {
                        width: 20%;
                        // @media (max-width: 560px) {
                        //     width: 20%;
                        // }
                        // @media (max-width: 460px) {
                        //     width: 20%;
                        // }
                    }
                }
            }
            &:last-child {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                img {
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    object-fit: contain;
                }
            }
        }
    }
}